<!-- Navigation Start -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">BTTENDANCE</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown">Language <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/web/home/setLocale?language=ko">한국어</a></li>
            <li><a href="/web/home/setLocale?language=en">English</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
<!-- Navigation End -->

<!-- Contents Start -->
<div class="container-fluid main-background">
<!-- Carousel -->
  <div class="slide-page">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img class="back-img" src="images/back-to-school.jpg" alt="">
        </div>
        <div class="item">
          <img class="back-img" src="images/students-3.jpg" alt="">
        </div>
      </div>
      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>

  <!-- Home part -->
  <!-- Korean -->
  <div class="container-fluid main-signin">
    <div class="row">
      <div class="col-md-3 col-md-offset-3">
        <div class="main-text">
          <p class="main-name">BTTENDANCE,</p>
          <p class="main-copy">활발한 학생 참여를 돕는 새로운 방법</p>
        </div>            
      </div>
      <div class="col-md-2 col-md-offset-1">
        <form class="form-horizontal" role="form" action="/users/signin" method="post">
          <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="이메일">
            <input type="password" class="form-control" name="password" placeholder="비밀번호">
            <div class="checkbox form-checkbox">
              <label>
                <input type="checkbox"> 이메일 기억하기
              </label>
            </div>
            <button type="submit" class="btn btn-default btn-lg btn-block"><b>로그인</b></button>
          </div>          
        </form>
        <div class="row">
          <div class="col-sm-6 form-linktext">
            <a href="/signup">가입하기</a>
          </div>
          <div class="col-sm-6 form-linktext">
            <a href="#forgotPasswordModal" role="button" data-toggle="modal">비밀번호 찾기</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- BTTENDANCE Explaination -->
<div class="container main-explain">
  <h1 align="center">이건 사실 영문 페이지입니다.</h1>
  <h2 class="explain-title">BTTENDANCE는 학생들이 수업에 활발히 참여하도록 돕는<br>웹-모바일 기반 어플리케이션입니다.</h2>

  <div class="line"></div>

  <div class="row explain-row">
    <div class="col-md-2 col-md-offset-1">
      <img class="main-icons" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Email/ic_clicker.png">
    </div>
    <div class="col-md-7 col-md-offset-1 explain-features">
      <h3 class="explain-description">설문하기 기능은 강의자가 학생들의 반응을 강의 중에 바로 확인하시고 싶을 때, 즉석 설문을 할 수 있는 기능입니다. <a href="">더 알아보기</a></h3>
    </div>
  </div>

  <div class="row explain-row">
    <div class="col-md-2 col-md-offset-1">
      <img class="main-icons" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Email/ic_attendance.png">
    </div>
    <div class="col-md-7 col-md-offset-1 explain-features">
      <h3 class="explain-description">자동 출석체크 기능은 스마트폰의 블루투스 기능을 이용해 수백 명의 학생도 빠르고 정확하게 출석을 확인할 수 있는 기능입니다. <a href="">더 알아보기</a></h3>
    </div>
  </div>

  <div class="row explain-row">
    <div class="col-md-2 col-md-offset-1">
      <img class="main-icons" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Email/ic_notice.png">
    </div>
    <div class="col-md-7 col-md-offset-1 explain-features">
      <h3 class="explain-description">공지하기 기능은 교수님께서 학생들에게 알릴 사항이 있을 때, 문자를 보내듯 쉽게 알림 사항을 전파할 수 있는 기능입니다. <a href="">더 알아보기</a></h3>
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="line"></div>

  <h3 class="explain-title">BTTENDANCE Ver 1.0.0을 만나보세요!</h3>

  <div class="row explain-row">
    <div class="col-md-6 col-md-offset-3">
      <div class="download-links">
        <img class="download-button" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Email/play_store.png">
        <img class="download-button" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Email/app_store.png">
      </div>          
    </div>
    <div class="col-md-3"></div>
  </div>

</div>

<div class="container-fluid footy">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h4>블로그 | Facebook | GitHub | 이용 약관 | 개인정보 처리방침</h4>
      <h4>대표이사: 김태환 | 경기도 성남시 분당구 판교역로 100, 606-601 주식회사 비텐던스</h4>
      <h4>© 2014 Bttendance Inc. All rights reserved.</h4>
    </div>
  </div>
</div>
<!-- Contents End -->

<!-- Modal -->
<div class="modal fade" id="forgotPasswordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">가입할 때 사용하신 이메일을 입력해주세요.</h4>
      </div>
      <div class="modal-body">
        <form id="emailForPassword" role="form" action="/users/forgot_password" method="post">
          <div class="form-group">
            <p>입력하신 이메일 주소로 새로운 비밀번호가 전송됩니다.</p>
            <input type="email" class="form-control" name="email" placeholder="callyoudaddy@hwalbin.dang">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button onclick="document.getElementById('emailForPassword').submit()" type="button" class="btn btn-primary" data-dismiss="modal">제출하기</button>
      </div>
    </div>
  </div>
</div>

