<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Tutorial-Clicker</title>		
		<link rel="stylesheet" type="text/css" href="/styles/tutorial-css.css">
	</head>
	<body>
		<div class="content">
			<div>
				<img class="logo" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Email/survey/clicker.png">
				<div class="spacer"></div>
				<div>
					<table class="row">
						<tr>
							<td class="side">
								<div class="line"></div>
							</td>
							<td>
								<h1 class="title">설문하기</h1>
							</td>
							<td class="side">
								<div class="line"></div>
							</td>
						</tr>
					</table>
				</div>
				<div class="spacer"></div>
			</div>			
			<div class="description">
				<p>중요한 개념을 설명한 후</p>
				<p>학생들이 제대로 이해했는지</p>
				<p>알고 싶을 때,</p>
				<br>
				<p>강의 중에 찬반 토론이 일어나서</p>
				<p>학생들의 전반적인 분위기를</p>
				<p>알고 싶을 때,</p>
				<br>
				<p>설문하기 기능을 사용하세요.</p>
				<p>(설문은 1분 동안 진행됩니다.)</p>
			</div>
			<div class="explanation">
				<div>
					<img class="screenshot" src="">
					<p>교수님께서 학생들의 답변 유형을 고르면,</p>
				</div>
				<div>
					<img class="screenshot" src="">
					<p>학생들은 답변 유형에 따라 답을 입력할 수 있습니다.</p>
				</div>
				<div>
					<img class="screenshot" src="">
					<p>학생들이 답을 입력한 결과를 그래프로 확인하세요!</p>
				</div>
			</div>
		</div>
	</body>
</html>