<style type="text/css">
	body {
			font-family:  "Helvetica Neue", "NanumGothic", "malgun gothic", "dotum", "Arial", "sans-serif";
			background: #F1F1FF;
			color: #191927;
		}
		.content {
			text-align: center;
		}
		.spacer35 {
			height: 20px;
		}
		.spacer56 {
			height: 56px;
		}
		.spacer47 {
			height: 47px;
		}		
		.spacer70 {
			height: 70px;
		}		
		.spacer74 {
			height: 74px;
		}
		.logo_title {
			width: 225px;
		}
		.description {
			font-size: 14pt;
			line-height: 18pt;
		}
		.bold {
			font-weight: bold;
		}
		.smallfont {
			font-size: 12pt;
		}
		.pointhand {
			width: 34px;
		}
		.explanation {
			font-size: 13pt;
			line-height: 18pt;
		}
		.bblue {
			color: #0072B0;
		}
		.screenshot {
			width: 250px;
		}
</style>
<div class="content">
	<div>
		<div class="spacer56"></div>
		<img class="logo" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Tutorial/Logo/e_notice.png">
		<div class="spacer47"></div>
	</div>			
	<div class="description">  
		<p>When you would like to post<br>
		the time and place of exams,</p>
		<p>or when you have to cancel<br>
		today’s class due to an urgently<br>
		scheduled business trip,</p>
		<p><span class="bold">use the Notice function.</span><br>
	</div>
	<div class="spacer70"></div>
	<div>
		<img class="pointhand" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Tutorial/Logo/hand.png">
		<p class="smallfont bblue">Scroll down!</p>
	</div>
	<div class="spacer74"></div>
	<div class="explanation">
		<div>
			<img class="screenshot" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Tutorial/ImageEN/19.png">
			<div class="spacer35"></div>
			<p>Press the Notice button on<br>the course screen.</p>
		</div>
		<div class="spacer74"></div>
		<div>
			<img class="screenshot" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Tutorial/ImageEN/20.png">
			<div class="spacer35"></div>
			<p>Write the contents to notify<br>as you would write a text message<br>and press the Notice button.</p>
		</div>
		<div class="spacer74"></div>
		<div>
			<img class="screenshot" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Tutorial/ImageEN/21.png">
			<div class="spacer35"></div>
			<p>The notice will be sent<br>with push notification<br>to the smartphones of all students<br>taking the course.<br>Notices that have not been<br>read yet will have<br>the titles displayed in red.</p>
		</div>
		<div class="spacer74"></div>
		<div>
			<img class="screenshot" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Tutorial/ImageEN/22.png">
			<div class="spacer35"></div>
			<p>To view how many students<br>checked the notice,<br>press the corresponding post<br>on the course screen.</p>
		</div>
		<div class="spacer74"></div>
		<div>
			<img class="screenshot" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Tutorial/ImageEN/23.png">
			<div class="spacer35"></div>
			<p>Check how many students<br>viewed the notice.</p>
		</div>
		<div class="spacer74"></div>
		<div>
			<img class="screenshot" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Tutorial/ImageEN/24.png">
			<div class="spacer35"></div>
			<p>In View Details, view which<br>students have not read<br>the notice yet.</p>
		</div>
	</div>
</div>