<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Tutorial-Attendance</title>
		<link rel="stylesheet" type="text/css" href="/styles/tutorial-css.css"> 
	</head>
	<body>
		<div class="content">
			<div>
				<img class="logo" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Email/survey/bttendance.png">
				<div class="spacer"></div>
				<div>
					<table class="row">
						<tr>
							<td class="side">
								<div class="line"></div>
							</td>
							<td>
								<h1 class="title">Bttendance</h1>
							</td>
							<td class="side">
								<div class="line"></div>
							</td>
						</tr>
					</table>
				</div>
				<div class="spacer"></div>
			</div>			
			<div class="description">  
				<p>If you are tired</p>
				<p>to carry attendance book</p>
				<p>for each lectures,</p>
				<br>
				<p>If it is impossible to take attendance</p>
				<p>for every lecture because your class is too big,</p>
				<p>the number of students absent</p>
				<p>increases rapidly,</p>
				<br>
				<p>Then use Bttendance!</p>
				<p>(Automatic attendance check takes only 1 minute.)</p>
			</div>
			<div class="explanation">
				<div>
					<img class="screenshot" src="">
					<p>Please choose methods for taking attendance; ‘Calling one by one’ and ‘Checking with Bluetooth’.</p>
				</div>
				<div>
					<img class="screenshot" src="">
					<p>When you choose ‘Calling one by one’, tapping students’ names is all you need to do for taking attendance.</p>
				</div>
				<div>
					<img class="screenshot" src="">
					<p>When you choose ‘Checking with Bluetooth’, please turn on Bluetooth of all class members’ devices. BTTENDANCE do the rest.</p>
				</div>
				<div>
					<img class="screenshot" src="">
					<p>You can check a detail attendance result and modify it manually. Also you are able to export this result in an Excel form.</p>
				</div>
				<div>
					<img class="screenshot" src="">
					<p>Students can check their attendance status immediately.</p>
				</div>
			</div>
		</div>
	</body>
</html>