<style type="text/css">
	body {
			font-family:  "Helvetica Neue", "NanumGothic", "malgun gothic", "dotum", "Arial", "sans-serif";
			background: #F1F1FF;
			color: #191927;
		}
		.content {
			text-align: center;
		}
		.spacer35 {
			height: 35px;
		}
		.spacer56 {
			height: 56px;
		}
		.spacer47 {
			height: 47px;
		}		
		.spacer70 {
			height: 70px;
		}		
		.spacer74 {
			height: 74px;
		}
		.logo {
			width: 225px;
		}
		.description {
			font-size: 14pt;
			line-height: 18pt;
		}
		.bold {
			font-weight: bold;
		}
		.smallfont {
			font-size: 12pt;
		}
		.pointhand {
			width: 34px;
		}
		.explanation {
			font-size: 13pt;
			line-height: 18pt;
		}
		.bblue {
			color: #0072B0;
		}
		.screenshot {
			width: 250px;
		}
</style>
<div class="content">
	<div>
		<div class="spacer56"></div>
		<img class="logo" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Tutorial/Logo/k_attendance.png">
		<div class="spacer47"></div>
	</div>			
	<div class="description">  
		<p>수업을 할 때마다 매번 출석부를<br> 
		들고 다니기 번거롭다면,</p>
		<p>학생 수가 너무 많아 수업마다<br>
		출석을 부를 수는 없는데<br>
		학기가 진행될수록<br>
		출석률이 점점 떨어진다면,</p>
		<p><span class="bold">출석체크 기능을 사용해보세요.</span><br>
		<span class="smallfont">(자동출석체크는 1분 동안 진행됩니다.)</span></p>
	</div>
	<div class="spacer70"></div>
	<div>
		<img class="pointhand" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Tutorial/Logo/hand.png">
		<p class="smallfont bblue">아래로 내려보세요!</p>
	</div>
	<div class="spacer74"></div>
	<div class="explanation">
		<div>
			<img class="screenshot" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Tutorial/ImageKR/1.png">					
			<div class="spacer35"></div>
			<p>강의 화면에서 출석체크 버튼을 누르세요.</p>
		</div>
		<div class="spacer74"></div>
		<div>
			<img class="screenshot" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Tutorial/ImageKR/2.png">
			<div class="spacer35"></div>
			<p>출석 체크를 Bluetooth로 자동으로<br>체크하실지, 직접 이름을 부르면서<br>하실지 선택하세요.</p>
		</div>
		<div class="spacer74"></div>
		<div>
			<img class="screenshot" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Tutorial/ImageKR/3.png">
			<div class="spacer35"></div>
			<p>Bluetooth로 하기를 선택하셨다면<br>강의자와 학생 모두 스마트폰의<br>Bluetooth 기능을 켜주세요.<br>1분 동안 자동으로 학생들의<br>출결을 확인하여 기록합니다.</p>
			<p>(주의: iOS 기기는 자동 출석체크가<br>진행되는 동안 앱을 켜두셔야 합니다.)</p>				
		</div>
		<div class="spacer74"></div>
		<div>
			<img class="screenshot" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Tutorial/ImageKR/4.png">
			<div class="spacer35"></div>
			<p>이름 부르면서 하기를 선택하셨다면,<br>화면에 있는 학생들의 이름을 가볍게<br>눌러주세요. 누를 때마다 학생들의<br>상태가 결석->출석->지각->결석 순으로<br> 변경됩니다.</p>
		</div>
		<div class="spacer74"></div>
		<div>
			<img class="screenshot" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Tutorial/ImageKR/5.png">
			<div class="spacer35"></div>
			<p>출석체크 결과는 강의 화면에서<br>해당 포스트를 눌러서<br>언제든지 다시 확인할 수 있습니다.</p>
		</div>
		<div class="spacer74"></div>
		<div>
			<img class="screenshot" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Tutorial/ImageKR/6.png">
			<div class="spacer35"></div>
			<p>결과를 상세히 확인할 수 있고,<br>수동으로 체크하실 때처럼<br>직접 수정하는 것도 가능합니다.</p>
		</div>	
		<div class="spacer74"></div>			
		<div>
			<img class="screenshot" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Tutorial/ImageKR/7.png">
			<div class="spacer35"></div>
			<p>강의 설정하기 화면에서 결과 내보내기<br>버튼을 누르면, 출석체크 결과가<br>Excel 파일로 변형되어<br>등록된 Email로 발송됩니다.</p>
		</div>
		<div class="spacer74"></div>
		<div>
			<img class="screenshot" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Tutorial/ImageKR/8.png">
			<div class="spacer35"></div>
			<p>학생들은 자신의 출결 상황을<br>자신의 강의 화면에서 바로<br>확인할 수 있습니다.</p>
		</div>
	</div>
</div>