<style type="text/css">
	body {
			font-family:  "Helvetica Neue", "NanumGothic", "malgun gothic", "dotum", "Arial", "sans-serif";
			background: #F1F1FF;
			color: #191927;
		}
		.content {
			text-align: center;
		}
		.spacer35 {
			height: 20px;
		}
		.spacer56 {
			height: 56px;
		}
		.spacer47 {
			height: 47px;
		}		
		.spacer70 {
			height: 70px;
		}		
		.spacer74 {
			height: 74px;
		}
		.logo_title {
			width: 225px;
		}
		.description {
			font-size: 14pt;
			line-height: 18pt;
		}
		.bold {
			font-weight: bold;
		}
		.smallfont {
			font-size: 12pt;
		}
		.pointhand {
			width: 34px;
		}
		.explanation {
			font-size: 13pt;
			line-height: 18pt;
		}
		.bblue {
			color: #0072B0;
		}
		.screenshot {
			width: 250px;
		}
</style>
<div class="content">
	<div>
		<div class="spacer56"></div>
		<img class="logo_title" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Tutorial/Logo/k_clicker.png">
		<div class="spacer47"></div>
	</div>			
	<div class="description">  
		<p>중요한 개념을 설명한 후<br> 
		학생들이 제대로 이해했는지<br>
		알고 싶을 때,</p>
		<p>강의 중에 찬반 토론이 일어나서<br>
		학생들의 전반적인 분위기를<br>
		알고 싶을 때,</p>
		<p><span class="bold">설문하기 기능을 사용하세요.</span><br>
		<span class="smallfont">(설문은 1분 동안 진행됩니다.)</span></p>
	</div>
	<div class="spacer70"></div>
	<div>
		<img class="pointhand" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Tutorial/Logo/hand.png">
		<p class="smallfont bblue">아래로 내려보세요!</p>
	</div>
	<div class="spacer74"></div>
	<div class="explanation">
		<div>
			<img class="screenshot" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Tutorial/ImageKR/9.png">
			<div class="spacer35"></div>
			<p>강의 화면에서 설문하기 버튼을 누르세요.</p>
		</div>
		<div class="spacer74"></div>
		<div>
			<img class="screenshot" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Tutorial/ImageKR/10.png">
			<div class="spacer35"></div>
			<p>교수님께서 질문하실 내용을 적고<br>학생들이 고를 선택지의 개수를 정하신 후,<br>설문을 시작하세요.</p>
			<p>(질문을 적지 않으시면 설문을<br>시작할 때의 시각이 기록됩니다.)</p>
		</div>
		<div class="spacer74"></div>
		<div>
			<img class="screenshot" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Tutorial/ImageKR/11.png">
			<div class="spacer35"></div>
			<p>설문이 시작되면 학생들은 강의 화면에서<br>생성되는 포스트에서 선택지를<br>고를 수 있습니다.</p>				
		</div>
		<div class="spacer74"></div>
		<div>
			<img class="screenshot" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Tutorial/ImageKR/12.png">
			<div class="spacer35"></div>
			<p>교수님과 설문에 참여한 학생들은<br>설문 결과를 그래프를 통해 실시간으로<br>체크할 수 있어요!</p>
		</div>
		<div class="spacer74"></div>
		<div>
			<img class="screenshot" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Tutorial/ImageKR/13.png">
			<div class="spacer35"></div>
			<p>또, 상세보기를 누르면 교수님께선<br>각 학생들이 어떤 답을 선택했는지도<br>확인하실 수 있습니다.</p>
		</div>
		<div class="spacer74"></div>
		<div>
			<img class="screenshot" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Tutorial/ImageKR/14.png">
			<div class="spacer35"></div>
			<p>프로필(사이드 메뉴 상단에 있습니다)에서<br>수업에 쓸 설문 질문을 미리 만드실<br>수도 있습니다.</p>
		</div>	
		<div class="spacer74"></div>			
		<div>
			<img class="screenshot" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Tutorial/ImageKR/15.png">
			<div class="spacer35"></div>
			<p>하단의 설문 질문 만들기 버튼을 눌러서<br>질문을 만드세요.</p>
		</div>
		<div class="spacer74"></div>
		<div>
			<img class="screenshot" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Tutorial/ImageKR/16.png">
			<div class="spacer35"></div>
			<p>강의 중에 언제든 바로 불러와서<br>사용하실 수 있습니다.</p>
		</div>
		<div class="spacer74"></div>
		<div>
			<img class="screenshot" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Tutorial/ImageKR/17.png">
			<div class="spacer35"></div>
			<p>설문 결과는 강의 화면에서 해당 포스트를<br>눌러서 언제든지 다시 확인할 수 있고,</p>
	</div>
		<div class="spacer74"></div>
		<div>
			<img class="screenshot" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Tutorial/ImageKR/18.png">
			<div class="spacer35"></div>
			<p>강의 설정하기 화면에서 결과 내보내기<br>버튼을 누르면, 출석체크 결과가<br>Excel 파일로 변형되어<br>등록된 Email로 발송됩니다.</p>
</div>