<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Tutorial-Bttendance</title>
		<link rel="stylesheet" type="text/css" href="/styles/tutorial-css.css"> 
	</head>
	<body>
		<div class="content">
			<div>
				<img class="logo" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Email/survey/bttendance.png">
				<div class="spacer"></div>
				<div>
					<table class="row">
						<tr>
							<td class="side">
								<div class="line"></div>
							</td>
							<td>
								<h1 class="title">출석체크</h1>
							</td>
							<td class="side">
								<div class="line"></div>
							</td>
						</tr>
					</table>
				</div>
				<div class="spacer"></div>
			</div>			
			<div class="description">  
				<p>수업을 할 때마다</p>
				<p>매번 출석부를 들고 다니기</p>
				<p>번거롭다면,</p>
				<br>
				<p>학생 수가 너무 많아</p>
				<p>수업마다 출석을 부를 수는 없는데</p>
				<p>학기가 진행될수록</p>
				<p>출석률이 점점 떨어진다면,</p>
				<br>
				<p>출석체크 기능을 사용해보세요.</p>
				<p>(자동출석체크는 3분 동안 진행됩니다.)</p>
			</div>
			<div class="explanation">
				<div>
					<img class="screenshot" src="">
					<p>출석 체크를 직접 이름을 부르면서 하실지, 블루투스로 자동으로 체크하실지 선택하세요.</p>
				</div>
				<div>
					<img class="screenshot" src="">
					<p>이름 부르면서 하기를 선택하셨을 때는 학생들의 이름을 가볍게 터치해주기만 하면 출석으로 입력됩니다.</p>
				</div>
				<div>
					<img class="screenshot" src="">
					<p>블루투스로 하기를 선택하셨다면 강의자와 학습자 모두 스마트폰의 블루투스 기능을 켜주세요. 나머지는 BTTENDANCE가 알아서 처리합니다.</p>
				</div>
				<div>
					<img class="screenshot" src="">
					<p>출석 체크 결과를 상세히 확인할 수 있고, 직접 수정하는 것도 가능합니다. Excel로 결과를 출력할 수도 있어요.</p>
				</div>
				<div>
					<img class="screenshot" src="">
					<p>학생들도 자신의 출결 상황을 바로 확인할 수 있습니다.</p>
				</div>
			</div>
		</div>
	</body>
</html>