<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Tutorial-Notice</title>
		<link rel="stylesheet" type="text/css" href="/styles/tutorial-css.css">
	</head>
	<body>
		<div class="content">
			<div>
				<img class="logo" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Email/survey/notice.png">
				<div class="spacer"></div>
				<div>
					<table class="row">
						<tr>
							<td class="side">
								<div class="line"></div>
							</td>
							<td>
								<h1 class="title">공지하기</h1>
							</td>
							<td class="side">
								<div class="line"></div>
							</td>
						</tr>
					</table>
				</div>
				<div class="spacer"></div>
			</div>			
			<div class="description">
				<p>학생들에게 시험 시간과</p>
				<p>장소를 공지할 때,</p>
				<br>
				<p>갑자기 급한 출장이 잡혀서</p>
				<p> 휴강을 해야 할 때,</p>
				<br>
				<p>공지하기 기능을 사용해 보세요.</p>
			</div>			
			<div class="explanation">
				<div>
					<img class="screenshot" src="">
					<p>공지할 일이 있으면 내용을 문자 보내듯 적으신 후에 POST하면 끝!</p>
				</div>
				<div>
					<img class="screenshot" src="">
					<p>강의에 참여한 모든 학생들의 스마트폰으로 알림 push와 함께 공지가 전달됩니다.</p>
				</div>
			</div>
		</div>
	</body>
</html>