<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Tutorial-Notice</title>
		<link rel="stylesheet" type="text/css" href="/styles/tutorial-css.css">
	</head>
	<body>
		<div class="content">
			<div>
				<img class="logo" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Email/survey/notice.png">
				<div class="spacer"></div>
				<div>
					<table class="row">
						<tr>
							<td class="side">
								<div class="line"></div>
							</td>
							<td>
								<h1 class="title">Notice</h1>
							</td>
							<td class="side">
								<div class="line"></div>
							</td>
						</tr>
					</table>
				</div>
				<div class="spacer"></div>
			</div>			
			<div class="description">
				<p>When you need to tell</p>  
				<p>exam schedule to students,</p>
				<br>
				<p>When you should cancel a lecture</p> 
				<p>for urgent business,</p>
				<br>
				<p>use Notice.</p>
			</div>			
			<div class="explanation">
				<div>
					<img class="screenshot" src="">
					<p>Write a message like a SMS and press POST button!</p>
				</div>
				<div>
					<img class="screenshot" src="">
					<p>BTTENDANCE send the notice to every student attending the course.</p>
				</div>
			</div>
		</div>
	</body>
</html>