<style type="text/css">
	body {
			font-family:  "Helvetica Neue", "NanumGothic", "malgun gothic", "dotum", "Arial", "sans-serif";
			background: #F1F1FF;
			color: #191927;
		}
		.content {
			text-align: center;
		}
		.spacer35 {
			height: 20px;
		}
		.spacer56 {
			height: 56px;
		}
		.spacer47 {
			height: 47px;
		}		
		.spacer70 {
			height: 70px;
		}		
		.spacer74 {
			height: 74px;
		}
		.logo_title {
			width: 225px;
		}
		.description {
			font-size: 14pt;
			line-height: 18pt;
		}
		.bold {
			font-weight: bold;
		}
		.smallfont {
			font-size: 12pt;
		}
		.pointhand {
			width: 34px;
		}
		.explanation {
			font-size: 13pt;
			line-height: 18pt;
		}
		.bblue {
			color: #0072B0;
		}
		.screenshot {
			width: 250px;
		}
</style>
<div class="content">
	<div>
		<div class="spacer56"></div>
		<img class="logo" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Tutorial/Logo/e_clicker.png">
		<div class="spacer47"></div>
	</div>			
	<div class="description">  
		<p>If you would like to know<br> 
		whether students understood an important<br>
		concept after your lectures,</p>
		<p>or if you would like to get a grasp<br>
		of the atmosphere during class<br>
		when there is a pros-and-cons debate,</p>
		<p><span class="bold">use the Clicker functions.</span><br>
		<span class="smallfont">(Surveys will be taken for a minute.)</span></p>
	</div>
	<div class="spacer70"></div>
	<div>
		<img class="pointhand" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Tutorial/Logo/hand.png">
		<p class="smallfont bblue">Scroll down!</p>
	</div>
	<div class="spacer74"></div>
	<div class="explanation">
		<div>
			<img class="screenshot" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Tutorial/ImageEN/9.png">
			<div class="spacer35"></div>
			<p>Press the Clicker button<br>on the course screen.</p>
		</div>
		<div class="spacer74"></div>
		<div>
			<img class="screenshot" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Tutorial/ImageEN/10.png">
			<div class="spacer35"></div>
			<p>Enter the contents of the question,<br>choose the number of fixed<br>choices for the students,<br>and start the clicker. </p>
			<p>(If no question is entered,<br>the current time will be<br>entered instead.)</p>
		</div>
		<div class="spacer74"></div>
		<div>
			<img class="screenshot" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Tutorial/ImageEN/11.png">
			<div class="spacer35"></div>
			<p>Once the clicker survey is started,<br>students may choose one<br>of the fixed choices<br>from the post created<br>on the course screen.</p>				
		</div>
		<div class="spacer74"></div>
		<div>
			<img class="screenshot" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Tutorial/ImageEN/12.png">
			<div class="spacer35"></div>
			<p>Instructors and students participating<br>in the clicker survey<br>may check the survey results<br>in real time via graph!</p>
		</div>
		<div class="spacer74"></div>
		<div>
			<img class="screenshot" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Tutorial/ImageEN/13.png">
			<div class="spacer35"></div>
			<p>Moreover, pressing View Details<br>will enable the instructor<br>to view what response<br>each student has chosen.</p>
		</div>
		<div class="spacer74"></div>
		<div>
			<img class="screenshot" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Tutorial/ImageEN/14.png">
			<div class="spacer35"></div>
			<p>In Profile on the upper half<br>of the side menu,<br>survey questions to be used<br>during class may be<br> created in advance.</p>
		</div>	
		<div class="spacer74"></div>			
		<div>
			<img class="screenshot" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Tutorial/ImageEN/15.png">
			<div class="spacer35"></div>
			<p>Create questions by pressing<br>the Add a Question button below.</p>
		</div>
		<div class="spacer74"></div>
		<div>
			<img class="screenshot" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Tutorial/ImageEN/16.png">
			<div class="spacer35"></div>
			<p>It can be loaded and<br>used anytime during class.</p>
		</div>
		<div class="spacer74"></div>
		<div>
			<img class="screenshot" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Tutorial/ImageEN/17.png">
			<div class="spacer35"></div>
			<p>Clicker survey results may<br>be checked anytime<br>on the course screen by<br>clicking on the corresponding<br>post.</p>
		</div>
		<div class="spacer74"></div>
		<div>
			<img class="screenshot" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Tutorial/ImageEN/18.png">
			<div class="spacer35"></div>
			<p>Clicker records may be exported<br>in the Excel file format<br>on the Course Settings screen<br>and sent to registered<br>email addresses.</p>
		</div>
	</div>
</div>