<style type="text/css">
  body {
      font-family:  "Helvetica Neue", "NanumGothic", "malgun gothic", "dotum", "Arial", "sans-serif";
      background: #F1F1FF;
      color: #191927;
    }
    .content {
      text-align: center;
    }
    .spacer35 {
      height: 20px;
    }
    .spacer56 {
      height: 56px;
    }
    .spacer47 {
      height: 47px;
    }
    .spacer70 {
      height: 70px;
    }
    .spacer74 {
      height: 74px;
    }
    .logo_title {
      width: 225px;
    }
    .description {
      font-size: 14pt;
      line-height: 18pt;
    }
    .bold {
      font-weight: bold;
    }
    .smallfont {
      font-size: 12pt;
    }
    .pointhand {
      width: 34px;
    }
    .explanation {
      font-size: 13pt;
      line-height: 18pt;
    }
    .bblue {
      color: #0072B0;
    }
    .screenshot {
      width: 250px;
    }
</style>
<div class="content">
  <div>
    <div class="spacer56"></div>
    <img class="logo" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Tutorial/Logo/e_attendance.png">
    <div class="spacer47"></div>
  </div>
  <div class="description">
    <p>If it feels bothersome for you<br>
    to carry the attendance sheets<br>
    to every class,</p>
    <p>or if you can’t take attendance every class<br>
    due to the sheer number of student<br>
    yet you see the attendance rate drop<br>
    as the semester goes on,</p>
    <p><span class="bold">use the Attendance function.</span><br>
    <span class="smallfont">(Automatic attendance check will be done in 1 minute)</span></p>
  </div>
  <div class="spacer70"></div>
  <div>
    <img class="pointhand" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Tutorial/Logo/hand.png">
    <p class="smallfont bblue">Scroll down!</p>
  </div>
  <div class="spacer74"></div>
  <div class="explanation">
    <div>
      <img class="screenshot" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Tutorial/ImageEN/1.png">
      <div class="spacer35"></div>
      <p>Press the Attendance button<br>on the course screen.</p>
    </div>
    <div class="spacer74"></div>
    <div>
      <img class="screenshot" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Tutorial/ImageEN/2.png">
      <div class="spacer35"></div>
      <p>Choose to take attendance<br>automatically using Bluetooth<br>or manually by calling<br>each student’s name.</p>
    </div>
    <div class="spacer74"></div>
    <div>
      <img class="screenshot" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Tutorial/ImageEN/3.png">
      <div class="spacer35"></div>
      <p>If you chose to take attendance<br>automatically using Bluetooth,<br>turn on the Bluetooth of<br>the instructor’s and the students’ smartphones.<br>Attendance will be automatically<br>taken and recorded.</p>
      <p>(Attention: Devices using iOS,<br>such as iPhones and iPads,<br>must have the application running<br>while the automatic attendance<br>check is underway.)</p>
    </div>
    <div class="spacer74"></div>
    <div>
      <img class="screenshot" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Tutorial/ImageEN/4.png">
      <div class="spacer35"></div>
      <p>When taking attendance manually,<br>press each student’s name.<br>Pressing the name will toggle<br>the student’s attendance status<br>in the order of Absent -><br>Present -> Tardy -> Absent.</p>
    </div>
    <div class="spacer74"></div>
    <div>
      <img class="screenshot" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Tutorial/ImageEN/5.png">
      <div class="spacer35"></div>
      <p>Attendance results may be viewed<br>anytime on the course screen<br>by clicking on the corresponding post.</p>
    </div>
    <div class="spacer74"></div>
    <div>
      <img class="screenshot" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Tutorial/ImageEN/6.png">
      <div class="spacer35"></div>
      <p>Results can be viewed in detail<br>and edited in the same way<br>as the manual attendance check</p>
    </div>
    <div class="spacer74"></div>
    <div>
      <img class="screenshot" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Tutorial/ImageEN/7.png">
      <div class="spacer35"></div>
      <p>Attendance results may be exported<br>in the Excel file format<br>on the Course Settings screen<br>and sent to registered<br>email addresses.</p>
    </div>
    <div class="spacer74"></div>
    <div>
      <img class="screenshot" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Tutorial/ImageEN/8.png">
      <div class="spacer35"></div>
      <p>Students may check their<br>own attendance status right<br>away on the course screen.</p>
    </div>
  </div>
</div>
