<style type="text/css">
	body {
			font-family:  "Helvetica Neue", "NanumGothic", "malgun gothic", "dotum", "Arial", "sans-serif";
			background: #F1F1FF;
			color: #191927;
		}
		.content {
			text-align: center;
		}
		.spacer35 {
			height: 20px;
		}
		.spacer56 {
			height: 56px;
		}
		.spacer47 {
			height: 47px;
		}		
		.spacer70 {
			height: 70px;
		}		
		.spacer74 {
			height: 74px;
		}
		.logo_title {
			width: 225px;
		}
		.description {
			font-size: 14pt;
			line-height: 18pt;
		}
		.bold {
			font-weight: bold;
		}
		.smallfont {
			font-size: 12pt;
		}
		.pointhand {
			width: 34px;
		}
		.explanation {
			font-size: 13pt;
			line-height: 18pt;
		}
		.bblue {
			color: #0072B0;
		}
		.screenshot {
			width: 250px;
		}
</style>
<div class="content">
	<div>
		<div class="spacer56"></div>
		<img class="logo_title" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Tutorial/Logo/k_notice.png">
		<div class="spacer47"></div>
	</div>			
	<div class="description">  
		<p>학생들에게 시험 시간과<br>
		장소를 공지할 때,</p>
		<p>갑자기 급한 출장이 잡혀서<br>
		휴강을 해야 할 때,</p>
		<p><span class="bold">공지하기 기능을 사용해 보세요.</span><br>
	</div>
	<div class="spacer70"></div>
	<div>
		<img class="pointhand" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Tutorial/Logo/hand.png">
		<p class="smallfont bblue">아래로 내려보세요!</p>
	</div>
	<div class="spacer74"></div>
	<div class="explanation">
		<div>
			<img class="screenshot" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Tutorial/ImageKR/19.png">
			<div class="spacer35"></div>
			<p>강의 화면에서 공지하기 버튼을 누르세요.</p>
		</div>
		<div class="spacer74"></div>
		<div>
			<img class="screenshot" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Tutorial/ImageKR/20.png">
			<div class="spacer35"></div>
			<p>공지할 내용을 문자 보내듯 적으신<br>후에 공지 버튼을 누르시면,</p>
		</div>
		<div class="spacer74"></div>
		<div>
			<img class="screenshot" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Tutorial/ImageKR/21.png">
			<div class="spacer35"></div>
			<p>강의에 참여한 모든 학생들의 스마트폰으로<br>알림 push와 함께 공지가 전달됩니다.<br>아직 읽지 않은 공지는 제목이<br>붉은 색으로 표시됩니다.</p>
		</div>
		<div class="spacer74"></div>
		<div>
			<img class="screenshot" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Tutorial/ImageKR/22.png">
			<div class="spacer35"></div>
			<p>학생들이 얼마나 확인했는지 보고 싶으시면<br>강의 화면에서 해당 포스트를 눌러주세요.</p>
		</div>
		<div class="spacer74"></div>
		<div>
			<img class="screenshot" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Tutorial/ImageKR/23.png">
			<div class="spacer35"></div>
			<p>몇 명이나 공지를 읽었는지 확인할 수 있고,</p>
		</div>
		<div class="spacer74"></div>
		<div>
			<img class="screenshot" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Tutorial/ImageKR/24.png">
			<div class="spacer35"></div>
			<p>상세보기에서는 어떤 학생이 공지를 읽지<br>않았는지도 확인할 수 있습니다.</p>
		</div>
	</div>
</div>