		body {
			font-family:  "Helvetica Neue", "NanumGothic", "malgun gothic", "dotum", "Arial", "sans-serif";
			background: #F1F1FF;
			color: #191927;
		}
		.content {
			text-align: center;
		}
		.spacer35 {
			height: 35px;
		}
		.spacer56 {
			height: 56px;
		}
		.spacer47 {
			height: 47px;
		}		
		.spacer70 {
			height: 70px;
		}		
		.spacer74 {
			height: 74px;
		}
		.logo {
			width: 225px;
		}
		.description {
			font-size: 14pt;
			line-height: 18pt;
		}
		.bold {
			font-weight: bold;
		}
		.smallfont {
			font-size: 12pt;
		}
		.pointhand {
			width: 34px;
		}
		.explanation {
			font-size: 13pt;
			line-height: 18pt;
		}
		.bblue {
			color: #0072B0;
		}
		.screenshot {
			width: 250px;
		}