#loginModal {
	width: 360px;
	height: 450px;
  margin-left: -180px;
}
#loginModalClose {
	float: right;
	position: fixed;
	padding: 5px;
	margin-top: 15px;
	margin-left: 320px;
	font-size: 30px;
  font-weight: normal;
	color: #b5b5b5;
  opacity: 1.0;
  filter: alpha(opacity=1);
  text-shadow: 0 0px 0 #ffffff;
	text-shadow: none;
}
#loginModalClose:hover,
#loginModalClose:focus {
  color: #F9B400;
}
#loginModalLabel {
	position: fixed;
	font-size: 25px;
	text-shadow: none;
  font-weight: bolder;
	color: #898989;
	margin-left: 30px;
	margin-top: 25px;
}
#loginModalForm {
	position: fixed;
	margin: 0;
	width: 300px;
	margin-top: 50px;
	margin-left: 30px;
	margin-right: 30px;
}
#loginModalUsername {
	position: fixed;
	margin: 0px;
	margin-top: 40px;
	width: 286px;
	height: 35px;
	text-shadow: none;
	background: #ffffff;
}
#loginModalUsername:hover,
#loginModalUsername:focus {
	background: #ffffff;
}
#loginModalPassword {
	position: fixed;
	margin: 0px;
	margin-top: 100px;
	width: 286px;
	height: 35px;
	text-shadow: none;
	background: #ffffff;
}
#loginModalPassword:hover,
#loginModalPassword:focus {
	background: #ffffff;
}
.loginModalControl {
	position: fixed;
	margin: 0;
}
.control-group .controls {
	position: fixed;
	margin: 0;
}
#loginModalRoundButton{ 
	position: fixed;
	margin: 0;
	width: 60px;
	height: 60px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  -khtml-border-radius: 30px;
  border-radius: 30px;
  padding: 0;
  margin-top: 165px;
  margin-left: 240px;
	background-color: #ffffff;
	background: #ffffff;
	color: #888888;
	text-shadow: none;
}
#loginModalRoundButton:hover,
#loginModalRoundButton:focus {
	background-color: #F9B400;
	background: #F9B400;
	border: 0;
	color: #ffffff;
	text-shadow: none;
}
#loginModalForgotPassword {
	position: fixed;
	margin-top: 170px;
	margin-left: 5px;
	font-size: 14px;
	text-shadow: none;
}
#loginModalRegisterNow {
	position: fixed;
	margin-top: 200px;
	margin-left: 5px;
	font-size: 14px;
	text-shadow: none;
}
#loginModalFacebook {
	position: fixed;
	margin-top: 320px;
	margin-left: 30px;
	margin-right: 30px;
	width: 300px;
	padding: 12.5px 0px;
	background-color: #436c9e;
	background: #436c9e;
	border: 0;
	text-align: center;
	font-size: 16px;
	text-shadow: none;
}
#loginModalGoogle {
	position: fixed;
	margin: 0;
	margin-top: 375px;
	margin-left: 30px;
	margin-right: 30px;
	width: 300px;
	padding: 12.5px 0px;
	background-color: #ce5959;
	background: #ce5959;
	border: 0;
	text-align: center;
	font-size: 16px;
	text-shadow: none;
}