#registerModal {
	width: 360px;
	height: 555px;
  	margin-left: -180px;
}
#registerModalClose {
	float: right;
	position: fixed;
	padding: 5px;
	margin-top: 15px;
	margin-left: 320px;
	font-size: 30px;
  	font-weight: normal;
	color: #b5b5b5;
  	opacity: 1.0;
  	filter: alpha(opacity=1);
  	text-shadow: 0 0px 0 #ffffff;
	text-shadow: none;
}
#registerModalClose:hover,
#registerModalClose:focus {
  color: #F9B400;
}
#registerModalLabel {
	position: fixed;
	font-size: 25px;
	text-shadow: none;
  	font-weight: bolder;
	color: #898989;
	margin-left: 30px;
	margin-top: 25px;
}
#registerModalForm {
	position: fixed;
	margin: 0;
	width: 300px;
	margin-top: 50px;
	margin-left: 30px;
	margin-right: 30px;
}
#registerModalUsername {
	position: fixed;
	margin: 0px;
	margin-top: 40px;
	width: 286px;
	height: 35px;
	text-shadow: none;
	background: #ffffff;
}
#registerModalEmail {
	position: fixed;
	margin: 0px;
	margin-top: 95px;
	width: 286px;
	height: 35px;
	text-shadow: none;
	background: #ffffff;
}
#registerModalPassword {
	position: fixed;
	margin: 0px;
	margin-top: 150px;
	width: 286px;
	height: 35px;
	text-shadow: none;
	background: #ffffff;
}
#registerModalRetypePassword {
	position: fixed;
	margin: 0px;
	margin-top: 205px;
	width: 286px;
	height: 35px;
	text-shadow: none;
	background: #ffffff;
}
.registerModalControl {
	position: fixed;
	margin: 0;
}
.control-group .controls {
	position: fixed;
	margin: 0;
}
#registerModalRoundButton{ 
	position: fixed;
	margin: 0;
	width: 70px;
	height: 70px;
  -moz-border-radius: 35px;
  -webkit-border-radius: 35px;
  -khtml-border-radius: 35px;
  border-radius: 35px;
  padding: 0;
  margin-top: 265px;
  margin-left: 230px;
	background-color: #ffffff;
	background: #ffffff;
	color: #888888;
	text-shadow: none;
}
#registerModalRoundButton:hover,
#registerModalRoundButton:focus {
	background-color: #F9B400;
	background: #F9B400;
	border: 0;
	color: #ffffff;
	text-shadow: none;
}
#registerModalHaveAccount {
	position: fixed;
	margin-top: 275px;
	margin-left: 5px;
	font-size: 14px;
	text-shadow: none;
}
#registerModalForgotUsername {
	position: fixed;
	margin-top: 305px;
	margin-left: 5px;
	font-size: 14px;
	text-shadow: none;
}
#registerModalFacebook {
	position: fixed;
	margin-top: 425px;
	margin-left: 30px;
	margin-right: 30px;
	width: 300px;
	padding: 12.5px 0px;
	background-color: #436c9e;
	background: #436c9e;
	border: 0;
	text-align: center;
	font-size: 16px;
	text-shadow: none;
}
#registerModalGoogle {
	position: fixed;
	margin: 0;
	margin-top: 480px;
	margin-left: 30px;
	margin-right: 30px;
	width: 300px;
	padding: 12.5px 0px;
	background-color: #ce5959;
	background: #ce5959;
	border: 0;
	text-align: center;
	font-size: 16px;
	text-shadow: none;
}